<div id= "middle">
  <section id="slideshow">
    <a href="#"><%= image_tag "waste_not_want_not.jpg" %></a>
  </section>
  <div id="main_info">
    <section id="greeting">
      <h1>Modern Patterns</h1>
        <p>Welcome to Rudy Lynn's Quilts. Please browse the patterns both modern and traditional. If you have and questions, please visit the Contact page.</p>
    </section>
    <section id="posts">
      <% @home_posts.each do |post| %>
      <div class="post">
        <span><%= post.post %></span>
        <div class="timestamp"><%= post.created_at.stamp("March 1, 1999 at 3:00 AM") %></div>
      </div>
      <br>
      <% end %>
    </section>
  </div>
</div>
  