<div id= "patterns_area">
  <div id="pattern_info">
    <% @patterns.each do |pattern| %>
      <div class="pattern">
        <%= link_to image_tag("waste_not_want_not.jpg"), pattern_path(pattern.title) %>
        <div class="pattern_title">
          <h2><%= link_to "#{pattern.title}", pattern_path(pattern.title) %></h2>
        </div>
        <div class="pattern_description">
          <p><%= pattern.description || "No description given." %></p>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>


