<div class="pattern">
  <%= image_tag @pattern.image_url(:full) if @pattern.image? %>
  <div class="pattern_title">
    <h2><%= "#{@pattern.title} Pattern" %></h2>
  </div>
  <div class="pattern_description">
    <p><%= @pattern.description || "No description given." %></p>
  </div>
</div>